:root {
    --primary-color: #cc0000;
    --seconondary-color: #7c0000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, 
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    overflow: none;
}

.app-header {
    background-color: var(--primary-color);
    box-shadow: 3px 3px 10px #888;
}

.app-header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
}

.app-header .logo {
    width: 170px;
    margin-bottom: 16px;
}

.app-header input[type='text'] {
    width: 300px;
    height: 30px;
    padding: 7px;
    border: 0;
    border-radius: 3px;
}

.subheader {
    background: var(--seconondary-color);
    color: #fff;
    width: 90%;
    box-shadow: 3px 3px 10px #888;
    margin: 0 auto 16px auto;
    font-size: 14px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.subheader p {
    margin: 4px;
}

.subheader img {
    width: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 0 auto 15px;
}


.grid .item {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #ccc;
    padding: 10px;
}

.grid .item h4 {
    margin-bottom: 5px;
}

.grid .item p {
    font-size: 14px;
    margin-bottom: 20px;
    color: var(--seconondary-color);
    font-weight: bold;
}

.grid .item img {
    width: 30px;
    align-self: flex-end; 
}

/* footer  */

.app-footer {
    background: #e7e7e7;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 20px;
}

.app-footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px;
}

.app-footer ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    opacity: 0.7;
}


